body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("image/download.jpg");
    background-size: cover;
    text-align: center;
    font-weight: bold;
}
button{
    color:blueviolet;
    width: 150px;
    background: white;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
}